:root {
  --def-primary-100: 244, 70%, 96%;
  --def-primary-200: 238, 80%, 94%;
  --def-primary-300: 241, 66%, 87%;
  --def-primary-400: 241, 66%, 83%;
  --def-primary-500: 240, 65%, 74%;
  --def-primary-900: 251, 100%, 18%;
  --def-secondary-100: 55, 46%, 91%;
  --def-secondary-400: 57, 83%, 75%;
  --def-secondary-500: 53, 58%, 32%;
  --def-gray-100: 248, 0%, 97.65%;
  --def-gray-200: 248, 9%, 91%;
  --def-gray-500: 248, 12%, 53%;
  --def-gray-900: 248, 11%, 42%;
  --def-gray-950: 248, 10%, 12%;
}
