@plugin "daisyui" {
  prefix: 'k';
}

:root,
[data-theme] {
  --color-base-100: oklch(from #fefefe l c h);
  --color-base-200: oklch(from #f0f2f3 l c h);
  --color-base-300: oklch(from #d0d4db l c h);
  --color-base-content: oklch(from #101828 l c h);
  --color-primary: oklch(from #ffce74 l c h);
  --color-primary-content: oklch(from #272117 l c h);
  --color-secondary: oklch(from #1f3d5a l c h);
  --color-secondary-content: oklch(from #d4dfeb l c h);
  --color-accent: oklch(from #8bc2ff l c h);
  --color-accent-content: oklch(from #162455 l c h);
  --color-neutral: oklch(from #1f3d5a l c h);
  --color-neutral-content: oklch(from #d4dfeb l c h);
  --color-info: oklch(from #c7dfff l c h);
  --color-info-content: oklch(from #1d2229 l c h);
  --color-success: oklch(from #d3edd3 l c h);
  --color-success-content: oklch(from #383f38 l c h);
  --color-warning: oklch(from #e1ac56 l c h);
  --color-warning-content: oklch(from #584220 l c h);
  --color-error: oklch(from #fec8c8 l c h);
  --color-error-content: oklch(from #801518 l c h);
  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@utility kmodal {
  &:has(> [data-state='open']) {
    @apply pointer-events-auto visible opacity-100;
    .kmodal-box {
      translate: 0 0;
      scale: 1;
      opacity: 1;
    }
  }
}

@utility kmodal-box {
  @apply flex-c-st gap-6 p-8 max-w-[calc(100vw-2rem)] max-h-[calc(100vh-2rem)];
}
