@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-ExtraLight.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-SemiBold.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-ExtraBold.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-Black.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-ExtraLightItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-LightItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-MediumItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-SemiBoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-BoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-ExtraBoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Mona Sans Expanded';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/MonaSansExpanded-BlackItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Comforter Brush';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ComforterBrush-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Condiment';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Condiment-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Grechen Fuemen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/GrechenFuemen-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Mynerve';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Mynerve-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nothing You Could Do';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NothingYouCouldDo-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Waiting for the Sunrise';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/WaitingfortheSunrise-Regular.ttf) format('truetype');
}