@utility scrollbar {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--gray-500)) hsl(var(--gray-100));
}
@utility scrollbar-white {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--gray-500)) white;
}
